<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"><head></head>


<body>
<th:block th:replace="~{/layout/basic :: setContent(~{this :: content})}">
    <th:block th:fragment="content">
        <div class="header"><br>

            <h1 class="page-item" style="color: #fd7e14"><br/><br/>
                <img src="" width="100"><span sec:authentication="name"></span>님의 마이페이지 입니다
                <img src="" width="100"></h1>
            <h8></h8>
            <br>
            <hr>


            <a th:href="@{/resturant/logout}">
                <button type="button" class="btn btn-outline-primary">로그아웃</button>
            </a>

        </div>
        <p></p>

    </th:block>
</th:block>

</body>
</html>