<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"><head></head>


<body>
<th:block th:replace="~{/layout/basic :: setContent(~{this :: content})}">
    <th:block th:fragment="content">
        <div class="header"><br>

            <h1 class="page-item" style="color: #fd7e14"><br/><br/>
                <img src="" width="100">로그인된 사용자 이메일값(PK) 폼에 자동 넣기
                <img src="" width="100"></h1>
            <h8>...테스트 중...</h8>
            <br>
            <hr>

            <div class="form-group row">
                <label for="author" class="col-sm-2 col-form-label"><strong>작성자</strong></label>
                <div class="col-sm-10">
                    <p class="" th:text="${author}" id = "author"></p>
                    <input type="text" name="author" class="form-control" id="inputAuthor2" th:value="${author}" readonly>
                    <input type="hidden" name="author" class="form-control" id="inputAuthor" th:value="${author}">
                </div>
            </div>

        </div>
        <p></p>

    </th:block>
</th:block>

</body>
</html>

